body
{
    direction: ltr;
    text-align: left;
    background: url('./b.jpg') no-repeat top center;
    color: white;
}

.img-box
{
    text-align: center;
    margin-top: 40px;
}

.img-box img
{
    desplay:block
}

.h3
{
    padding: 10px 0;
    margin: 20px 0;
    font-size: 16px;
    border-bottom: 1px solid #7b7b7b;
    font-weight: bold;
}

.h3 span
{
    color: #e60000;
}

.h5
{
    margin:35px 0 25px 0;
    color: #199a09;
}

.done-img
{
    max-width: 50px;
    margin: auto;
}

.done-img img 
{
    max-width: 100%;
}

.h1-done
{
    margin: 35px 0 15px 0;
    color: #0e941f;
}

.h22
{
    margin: 30px;
    margin-bottom: 15px;
    color: #00ff08;
}